:root {
  --primary-bg-color: #f1eeeed3;
  --primary-text-color: black;
}

body {
    font-family: 'Josefin Sans';
    background: var(--primary-bg-color);
    color: var(--primary-text-color);
    box-shadow: inset 1px 1px 20px rgba(0, 0, 0, 0.6),
                1px 1px 6px rgba(0, 0, 0, 0.4);
}

h1, h2, h3, p { 
  text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.4), 
               0 0 0 rgba(0, 0, 0, 0), 
               0 0 1px rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] {
  --primary-bg-color: linear-gradient(135deg, #2f3a47, #202c39); /* Dark Slate Gray */
  --primary-text-color: #fffafbec;
}

body[data-theme="dark"] {
  box-shadow: inset 3px 3px 25px rgba(0, 0, 0, 0.8), 
              4px 4px 15px rgba(0, 0, 0, 0.6);
}

[data-theme="dark"] h1, 
[data-theme="dark"] h2, 
[data-theme="dark"] h3,
[data-theme="dark"] p {
  text-shadow: 1px 1px 1px #fffafbec,
               0 0 1px rgb(255, 255, 255);
  }

[data-theme="dark"] .hero-banner-title {
  text-shadow: 1.5px 1.5px 2px rgba(230, 47, 47, 0.685),
               1px 1px 2px rgba(192, 46, 46, 0.685);
}

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  .right-arrow,
  .left-arrow {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF2625;
    font-size: 25px;
    border-radius: 4px;
    position: absolute;
    bottom: -20px;
    right: 80px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .right-arrow {
    right: 20px;
  }
  
  .right-arrow:hover,
  .left-arrow:hover {
    transform: scale(1.3, 1.3);
  }
  
  .react-horizontal-scrolling-menu--wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .detail-image {
    width: 711px;
    height: 722px;
    filter: brightness(97%);
    filter: contrast(93%);
  }

  [data-theme=dark] .detail-image {
    filter: brightness(82%);
    filter: contrast(82%);
  }
  
  .hero-banner-img {
    position: absolute;
    right: 60px;
    top: 0px;
    width: 570px;
    height: 750px;
    margin-top: -200px;
  
  }
  
  [data-theme=dark] .exercise-card {
    filter: brightness(82%);
    filter: contrast(82%);
  }

  .exercise-card {
    width: 402px;
    height: 438px;
    background: #fff;
    border-top: 4px solid #FF2625;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 18px;
    transform: scale(1);
    transition: 0.3s all ease-in-out;
    position: relative;
    border-radius: 6px;
    z-index: 11;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .exercise-card:hover {
    transform: scale(1.04);
    z-index: 99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
  
  .exercise-card img {
    height: 318px;
  }
  
  [data-theme=dark] .bodyPart-card {
    filter: brightness(82%);
    filter: contrast(82%);
  }

  .bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
    border-radius: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(130deg, rgba(245, 245, 245, 0.1), rgba(220, 220, 220, 0.15)); /* Grayish Off-White */
  }
  
  .bodyPart-card:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .search-btn:hover {
    color: #fa2929 !important;
    border: 3px solid #fa2929 !important;
    background-color: #363636 !important;
  }
  
  .exercise-video {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 392px;
    height: 401px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .exercise-video:hover {
    transform: scale(1.03);
    transition: 0.3s;
  }
  
  @media screen and (max-width:1200px) {
    .detail-image {
      width: 300px;
      height: 300px;
    }
  
  
    .react-horizontal-scrolling-menu--scroll-container {
      width: 500px;
    }
  
    .left-arrow,
    .right-arrow {
      position: static !important;
    }
  
    .hero-banner-img {
      display: none;
    }
  
    .exercise-card {
      width: 322px;
    }
  
    .exercise-video {
      width: 322px;
      height: 311px;
    }
  
  }
  
  @media screen and (max-width:400px) {
    .exercise-card {
      width: 282px;
    }
  }
